/* Tema específic Spider-Man */
header { background: #eaf4ff; }
h1 { letter-spacing: 0.5px; }
article { border-left: 4px solid #cde3ff; padding-left: 1rem; }
article>p:first-child {
    color: #d5fe07;
    line-height: 1.6;

}
article~p {
    line-height: 1.7;
    background-color: rgb(14, 220, 247);
}
.carta>img{
    width: 200px;
    border: 2px solid beige;
    border-radius: 8px;
}
